@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	background: url('http://2.bp.blogspot.com/-bfqpIvHx9Wg/UdA7hCgLjtI/AAAAAAAAMNg/hzx2NockHZM/s640/Special_Background_red2.jpg');
	background-size: cover;
	font-family: 'Press Start 2P';
	margin: 0;
}

#app {
	margin: auto;
}

.message {
	box-sizing: border-box;
	height: 150px;
	padding: 5px;
	width: 750px;
	margin: 5% auto 0%;
	padding: auto;
	background: rgba(1, 1, 1, 0);
	text-align: center;
	font-size: 20px;
}


.board {
	margin: auto;
	width: 750px;
	height: 450px;
	outline: none;
	position: relative;
}

.row {
	height: 30px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

.tile {
	width: 30px;
	height: 30px;
	margin: 0;
	box-sizing: border-box;
	position: absolute;
}

.wall {
	background: #8B4513;
	border: 3px solid black;
}

.floor {
	background: rgba(1, 1, 1, 1);
}

.stairs {
	background: url('door.png');
}

.alien {
	background: url('alien.png');
	background-color: black;
}

.clown {
	background: url('clown.png');
	background-color: black;
}

.astro {
	background: url('astro.png');
	background-color: black;
}

.Burger {
	background: url('burger.png');
	background-color: black;
}

.Mushroom {
	background: url('mushroom.png');
	background-color: black;
}

.Pancake {
	background: url('pancake.png');
	background-color: black;
}

.Watermelon {
	background: url('watermelon.png');
	background-color: black;
}

.Rock {
	background: url('rock.png');
	background-color: black;
}

.Sword {
	background: url('sword.png');
	background-color: black;
}

.Axe {
	background: url('axe.png');
	background-color: black;
}

.Bomb {
	background: url('bomb.png');
	background-color: black;
}

.grey {
	background-color: grey;
}


.lights {
	position: absolute;
	z-index: 50;
	width: 170px;
	height: 50px;
	color: white;
	background: rgba(1, 1, 1, .7);
	font-family: 'Press Start 2P';
	outline: none;
	top: 0;
	left: 580px;
}
