@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	background: url('http://2.bp.blogspot.com/-bfqpIvHx9Wg/UdA7hCgLjtI/AAAAAAAAMNg/hzx2NockHZM/s640/Special_Background_red2.jpg');
	background-size: cover;
	font-family: 'Press Start 2P';
	margin: 0;
}

#app {
	margin: auto;
}

.message {
	box-sizing: border-box;
	height: 150px;
	padding: 5px;
	width: 750px;
	margin: 5% auto 0%;
	padding: auto;
	background: rgba(1, 1, 1, 0);
	text-align: center;
	font-size: 20px;
}


.board {
	margin: auto;
	width: 750px;
	height: 450px;
}

.row {
	height: 30px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

.tile {
	width: 30px;
	height: 30px;
	margin: 0;
	box-sizing: border-box;
	position: absolute;
}

.wall {
	background: #8B4513;
	border: 3px solid black;
}

.floor {
	background: rgba(1, 1, 1, 1);
}

.stairs {
	background: url('door.png');
}

.alien {
	background: url('alien.png');
}

.clown {
	background: url('clown.png');
}

.astro {
	background: url('astro.png');
	background-color: black;

}

