* {
	box-sizing: border-box;
}

#app {
	width: 1000px;
	height: 1000px;
	margin: auto;
	position: relative;
}

.board {
	border: 1px solid blue;
}

.square {
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	margin: 0;
}